/* CSS Document */

.main_border {border:1px solid #000000;}

body {background-image:url(img/bg.gif);
}

.left {background-color:#f6f6f6; border-right:1px solid #424242;}

p {font-family:Arial, Helvetica, sans-serif;  font-size:12px; color:424242; margin-left:12px;}

.menu_title {
	font-family:Arial, Helvetica, sans-serif;
	 font-size:13px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	background-color:#9F62A8;
	} 


.title {font-size:14px;
margin-left:15px;
margin-bottom:15px;
	}	
	
.news {
	border:1px solid #000;
	width:95%;
	}
.news_title {
	background-color:#00BEEA;}		
.news_name {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:5px;
	font-weight:bold;}	
.news_date {
	font-size:9px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:5px;
	}	
	
.search_text {
	font-size:13px;
	margin-right:7px;
	margin-bottom:0px;
	margin-top:7px;
	font-weight:bold;
	color:#000000;}	
	
.search_button {
	border:1px solid gray;
	background-color:#f6f6f6;
	margin-left:15px;
	margin-bottom:10px;
	}	
.search_input {
	margin-bottom:0px;
	margin-top:0px;
	margin-left:15px;}	
	
#coolmenu{
border: 1px solid gray; 
border-bottom-width: 0;
width: 93%; 
background-color: #f6f6f6;  
margin:7px; 
border-bottom: 1px solid gray;
border-top: 1px solid gray;
}

* html #coolmenu{ 
width: 170px;
}

#coolmenu a{
font: bold 13px Arial, Helvetica, sans-serif;
padding: 2px; 
padding-left: 4px;
display: block;
width: 100%; 
color: #000000; 
text-decoration: none;

}

html>body #coolmenu a{ 
width: auto;
}

#coolmenu a:hover{
background-color: #cccccc; 
color: #000000; 
}
.pstrnav {
	padding: 0px 10px 20px 15px;
	color:#424242;
}

.pstrnav a{
	font-family : Arial, Helvetica, sans-serif; font-size:11px;color:#245E93; text-decoration:underline;
}
h3 {font-family:"Times New Roman", Times, serif;
font-size:20px;
color:#000;}

h5 {margin-left:12px;}
/*.bottom {
	border-bottom:1px solid gray;
	height:100%;}*/